@model MRMV2.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}<div class="accountPages">


    <style>
        .offPage {
            overflow: hidden !important;
            position: absolute !important;
            left: -200% !important;
        }

        #Questions label {
            float: left;
            padding-left: 83px;
            padding-top: 5px;
        }
    </style>

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger", @id = "validationSumm" })
    
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="offPage" id="Questions">
            <div class="form-group">
                @Html.LabelFor(m => m.Security_Question_Answer, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Security_Question_Answer, new { @class = "form-control" })
                </div>
            </div>
            @Html.TextBoxFor(m => m.questionAsked, new { @class = "offPage" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 submit">
                <input type="button" id="emailCheck" class="btn btn-default" value="Get Security Questions" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>


<script>




    //Remove the links to login, register and search from this page
    $("#searchLink, #loginLink, #registerLink").remove();


    //After submit has been clicked the first time
    $("#emailCheck").on("click", function () {
        
        $("#validationSumm ul").html("")
        //Ensure that the field isnt empty
        var val = $("#Email").val();
        if (val != "") {
            $.ajax({
                type: "POST",
                url: "/User/isValidEmail",
                data: { email: val },
                datatype: "html",
                success: function (data) {

                    //Set Security questions 
                    $("#questionAsked").val(data.Questions)
                    $("#Questions label").text(data.Questions);
                    $("#Questions").removeClass("offPage")
                    $("#emailCheck").remove();
                    $(".submit").append("<input type='submit' value='Submit' class='btn btn-default'>")


                },


            });
        }
        else
        {
            $("#validationSumm ul").append("<li>" + "Email Field may not be blank" + "</li>")
        }


    })



</script>
